ray[data]==2.49.0
ray[client]==2.49.0
ray[default]==2.49.0
ray[serve]==2.49.0
jupyterlab
py-spy
ipywidgets
virtualenv
datasets
numpy
transformers
evaluate
torch
accelerate
tokenizers
pandas
pytorch_lightning
sentencepiece
torchvision
bitsandbytes
tiktoken
tqdm
vllm>=0.8.5
xformers
huggingface-hub
sentence-transformers
snowflake-snowpark-python[pandas]
snowflake-ml-python
einops
click==8.2.1
gymnasium>=0.28,<1.0
dm-tree>=0.1.8
lz4