jupyterlab
py-spy
ipywidgets
virtualenv
datasets==2.18.0 
numpy
transformers==4.39.3
evaluate
torch==2.1.2
accelerate==0.29.3
tokenizers==0.15.2
pandas==1.5.3
pytorch_lightning==2.0.3
deepspeed==0.14.1
sentencepiece==0.2.0
torchvision==0.16.2
bitsandbytes==0.43.1
tiktoken==0.6.0
tqdm==4.66.2
vllm==0.4.0
xformers==0.0.23.post1
huggingface-hub==0.22.2
sentence-transformers
snowflake-snowpark-python[pandas]
snowflake-ml-python
einops